altgraph==0.17.2
Django==2.2
django-cors-headers==3.11.0
django-filter==21.1
djangorestframework==3.13.1
djangorestframework-jwt==1.11.0
importlib-metadata==4.11.3
pyinstaller==4.8
pyinstaller-hooks-contrib==2022.0
python-dateutil==2.8.2
urllib3==1.26.9
virtualenv==20.14.0
virtualenv-clone==0.5.7
virtualenvwrapper-win==1.2.7